.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-neutrals-300);
}

.layout__main {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  width: var(--max-desktop-width);
  background-color: var(--light-neutrals-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
